@model ZyaelWeb_Models.InternalDoctor.InternalDoctorModel


@{
    Layout = null;
}


<!DOCTYPE html>



<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr" data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title> Internal Doctor Details Add | Zyael</title>


    <meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 HTML Admin Dashboard Template built for developers!" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->



    <!-- End Google Tag Manager -->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../../assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../../assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../assets/js/config.js"></script>

</head>

<body>




    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">



            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


                <div class="app-brand demo ">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">

                        </span>
                        <span class="app-brand-text demo menu-text fw-bold ms-2">Zyael</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>



                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    <li class="menu-item  open">
                        <a href="/Hospitals/HospitalDashBoard" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div class="text-truncate bold" data-i18n="Dashboards">Dashboards</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Hospitals/HospitalDashBoard" class="menu-link">
                                    <div class="text-truncate" data-i18n="Home">Home</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Appointment/AppointmentsGrid" class="menu-link">
                                    <div class="text-truncate" data-i18n="Appointments">Appointments</div>
                                </a>
                            </li>
                            <li class="menu-item active">
                                <a href="/InternalDoctor/InternalDoctorsGrid" class="menu-link">
                                    <div class="text-truncate" data-i18n="Doctors Details">Doctors Details</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Patient/PatientDetailsGrid" class="menu-link">
                                    <div class="text-truncate" data-i18n="Patients Details">Patients Details</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <div class="text-truncate" data-i18n="Reports">Reports</div>
                                </a>
                            </li>



                        </ul>
                    </li>


                    <!-- Charts & Maps -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text" data-i18n="Charts & Maps">Charts &amp; Maps</span>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-chart"></i>
                            <div class="text-truncate" data-i18n="Charts">Charts</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <div class="text-truncate" data-i18n="Apex Charts">Apex Charts</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <div class="text-truncate" data-i18n="ChartJS">ChartJS</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*  <li class="menu-item">
                    <a href="maps-leaflet.html" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-map-alt"></i>
                    <div class="text-truncate" data-i18n="Leaflet Maps">Leaflet Maps</div>
                    </a>
                    </li> *@


                </ul>



            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">





                <!-- Navbar -->




                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">











                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>


                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">




                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item navbar-search-wrapper mb-0">
                                <a class="nav-item nav-link search-toggler px-0" href="javascript:void(0);">
                                    <i class="bx bx-search bx-sm"></i>
                                    <span class="d-none d-md-inline-block text-muted">Search (Ctrl+/)</span>
                                </a>
                            </div>
                        </div>
                        <!-- /Search -->





                        <ul class="navbar-nav flex-row align-items-center ms-auto">




                            <!-- Notification -->
                            <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                    <i class="bx bx-bell bx-sm"></i>
                                    <span class="badge bg-danger rounded-pill badge-notifications">1</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end py-0">
                                    <li class="dropdown-menu-header border-bottom">
                                        <div class="dropdown-header d-flex align-items-center py-3">
                                            <h5 class="text-body mb-0 me-auto">Notification</h5>
                                            <a href="javascript:void(0)" class="dropdown-notifications-all text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark all as read"><i class="bx fs-4 bx-envelope-open"></i></a>
                                        </div>
                                    </li>
                                    <li class="dropdown-notifications-list scrollable-container">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar">
                                                            <img src="~/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h6 class="mb-1">Congratulation Team 🎉</h6>
                                                        <p class="mb-0">Won the monthly best seller gold badge</p>
                                                        <small class="text-muted">1h ago</small>
                                                    </div>
                                                    <div class="flex-shrink-0 dropdown-notifications-actions">
                                                        <a href="#" class="dropdown-notifications-read"><span class="badge badge-dot"></span></a>
                                                        <a href="#" class="dropdown-notifications-archive"><span class="bx bx-x"></span></a>
                                                    </div>
                                                </div>
                                            </li>




                                        </ul>
                                    </li>
                                    <li class="dropdown-menu-footer border-top p-3">
                                        <button class="btn btn-primary text-uppercase w-100">view all notifications</button>
                                    </li>
                                </ul>
                            </li>
                            <!--/ Notification -->
                            <!-- UserDropdown -->
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="~/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="pages-account-settings-account.html">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="~/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-medium d-block">Columbia Asia</span>
                                                    <small class="text-muted">columbiahospital@gmail.com</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Hospitals/HospitalProfile">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>

                                    <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="bx bx-help-circle me-2"></i>
                                    <span class="align-middle">FAQ</span>
                                </a>
                            </li>

                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>

                                <a onclick="HospitalLogout()" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                                </a>
                            </li>
                        </ul>
                        </li>
                        <!--/ User -->
                        </ul>
                    </div>


                    <!-- Search Small Screens -->
                    <div class="navbar-search-wrapper search-input-wrapper  d-none">
                        <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..." aria-label="Search...">
                        <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
                    </div>


                </nav>



                <!-- / Navbar -->





                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">


                        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Form/</span>Doctor Details</h4>
                        <input type="hidden" name="HospitalVendorID" value="@ViewBag.UserTypeId" id="hdnhospitalvendorid" />

                        <!-- Basic Layout & Basic with Icons -->
                        <div class="row">

                            <!-- Basic with Icons -->
                            <div class="col-xxl">
                                <div class="card mb-4">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h5 class="mb-0">Doctors Details</h5> <small class="text-muted float-end">Doctors Details</small>
                                    </div>
                                    <div class="card-body">
                                        <form asp-action="InternalDoctorDetails_InsertUpdate" asp-controller="InternalDoctor" class="" data-ajax="true" data-ajax-method="post" id="" data-ajax-success="onSuccess" enctype="multipart/form-data">
                                            @Html.HiddenFor(model => model.IDoctorID, new { @id = "" })
                                            @Html.HiddenFor(model => model.HospitalVendorID, new { @id = "hdnhospitalvendorid" })
@*                                             @Html.HiddenFor(model => model.HospitalVendorID, new { @id = "hdnhospitalvendoridforadd" })
 *@
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">First Name</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Last Name</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                        <span id="basic-icon-default-email2" class="input-group-text">example.com</span>
                                                    </div>
                                                    <div class="form-text"> You can use letters, numbers & periods </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Username</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Gender</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class="basic-icon-gender"></i></span>
@*                                                         @Html.TextBoxFor(model => model.Gender, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })

 *@                                                        @*@Html.TextBoxFor(model => model.Gender, new { @class = "form-control cleardata", @id = "MobileNumber", @name = "MobileNumber", @placeholder = "Enter Mobile Number" })*@
                                                        @{
                                                            List<SelectListItem> L1 = new List<SelectListItem>();

                                                            L1.Add(new SelectListItem
                                                                {
                                                                    Text = "Male",
                                                                    Value = "Male"
                                                                });
                                                            L1.Add(new SelectListItem
                                                                {
                                                                    Text = "Female",
                                                                    Value = "Female",
                                                                });
                                                            L1.Add(new SelectListItem
                                                                    {
                                                                        Text = "others",
                                                                        Value = "others",
                                                                    });
                                                        }
                                                        @Html.DropDownListFor(model => model.Gender, L1, "--choose--", new { @class = "form-control cleardata", @id = "", @onchange = "" })
                                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Specialization</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.Specialization, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Consultation category</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.ConsultationCategory, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Studies</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.Studies, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Fees</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.ConsultationFees, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Experience</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.Experience, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">City</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Languages</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.ProficientLanguage, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "For Ex: Kannada,English" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Doctor Bio</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.DoctorBio, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Doctor Bio_1</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.DoctorBio_1, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Doctor Bio_2</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.DoctorBio_2, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Doctor_Procedure</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.DoctorProcedure, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Doctor_Procedure_1</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.DoctorProcedure_1, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Doctor_Procedure_2</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.DoctorProcedure_2, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>
                                       
                                            <div class="row mb-3">
                                                <label class="col-sm-2 form-label" for="basic-icon-default-phone">Doctor Introduction Video Link</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="" class="input-group-text"><i class=""></i></span>
                                                        @Html.TextBoxFor(model => model.DoctorIntroVideoLink, new { @class = "form-control cleardata", @id = "", @name = "", @placeholder = "" })
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="row justify-content-end">
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-success">Submit</button>



                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- / Content -->
                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©made with ❤️ by <a href="https://orbfocushealthcare.com/" target="_blank" class="footer-link fw-medium">Orbfocus Health Care</a>
                        </div>
              
                    </div>
                </footer>
                <!-- / Footer -->


                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>



    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>


    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    </div>
    <!-- / Layout wrapper -->


  




    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="../../assets/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/flatpickr/flatpickr.js"></script>
@*     <script src="../../assets/vendor/libs/select2/select2.js"></script>
 *@
    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>


    <!-- Page JS -->
@*     <script src="../../assets/js/form-layouts.js"></script>
 *@
</body>


</html>

<!-- beautify ignore:end -->
